@font-face {
  font-family: 'SFProText';
  src: url('../fonts/SF-Pro-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText';
  font-weight: 200;
  src: url('../fonts/SF-Pro-Text-Light.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText';
  font-weight: bold;
  src: url('../fonts/SF-Pro-Text-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SFProText';
  font-weight: 600;
  src: url('../fonts/SF-Pro-Text-Semibold.otf') format('opentype');
}
