@import url(./font_style.css);

$logo_color: #ffa397;
$nav_color: #928282;
$main_color: #8b7a7a;
$addTextColor: #882914;
$buttonAndReviewColor: #ffb2a172;
$main_font: 'SFProText';

@mixin horiz_flex {
  display: flex;
  flex-direction: row;
}
@mixin vert_flex {
  display: flex;
  flex-direction: column;
}
@mixin headersSection {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
}
@mixin sectionText {
  color: $main_color;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
}
@mixin quiz_back {
  width: 100%;
  height: 609px;
  background-image: url('../img/quiz.png');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: $main_font;
}
a {
  text-decoration: none;
}

.main_frame {
  @include vert_flex();
  padding-left: 7.5%;
  height: 770px;
  background-image: url('../img/main.png'),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(236, 245, 245, 100) 50%
    );
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  h2 {
    padding-top: 10%;
    margin: 15px 0;
    font-size: 36px;
    font-weight: bold;
    color: $main_color;
    span {
      @include headersSection();
    }
  }
  p {
    @include sectionText();
    margin: 0;
  }
  a {
    margin-top: 37px;
  }
}

.match {
  font-family: $main_font;
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  transform: scaleX(150%);
  margin: 0;
  color: $logo_color;
}

.header {
  @include horiz_flex();
  padding-top: 22px;
  gap: 30px;
  align-items: center;
}

.header_nav {
  li {
    display: inline;
    padding: 0 10px;
  }
  a {
    color: $nav_color;
    font-family: $main_font;
    font-size: 20px;
  }
}

.buttons {
  width: 230px;
  height: 60px;
  text-align: center;
  border-radius: 25px;
  background-color: $buttonAndReviewColor;
  font-size: 20px;
  font-weight: bold;
  color: $addTextColor;
  line-height: 60px;
  border-width: 0px;
}

.selling_point {
  @include horiz_flex();
  justify-content: space-between;
  div {
    padding: 0px 95px;
    @include vert_flex();
    justify-content: center;
    h2 {
      @include headersSection();
    }
    p {
      @include sectionText();
      margin-top: 15px;
      width: 100%;
    }
  }
}

.girl_section {
  background-color: #fffafa;
}

.reviews {
  margin-top: 77px;
  h2 {
    @include headersSection();
    text-align: center;
  }
}

.review_card {
  @include horiz_flex();
  width: 805px;
  margin: 10px;
  border-radius: 25px;
  background-color: #ffc7bb17;
  img {
    border-radius: 25px 0 0 25px;
  }
  div {
    padding: 0px 24px;
    @include vert_flex();
    justify-content: center;
    h3 {
      color: #ec9f8f;
      font-weight: 600;
      font-size: 36px;
    }
    p {
      @include sectionText();
      margin-top: 5px;
      width: 100%;
    }
  }
}

.scroll_box {
  @include horiz_flex();
  justify-content: stretch;
  overflow-x: scroll;
  margin-left: 57px;
  &::-webkit-scrollbar {
    height: 12px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffe9e5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ec9f8f;
  }
}

.grad_rev {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    width: 100%;
    height: calc(100% - 12px);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 255) 100%
    );
  }
}

.form_first {
  @include vert_flex();
  justify-content: center;
  align-items: center;
  @include quiz_back();
  height: 609px;
  text-align: center;
  margin-top: 77px;
  h2 {
    @include headersSection();
    margin-bottom: 0;
  }
  p {
    @include sectionText();
    text-align: center;
    width: 100%;
    margin-top: 0;
  }
}

.quiz {
  @include vert_flex();
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 609px;
  &::before {
    content: '';
    @include quiz_back();
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0.3;
  }
  h2 {
    @include headersSection();
    margin: 83px 0 43px;
    text-transform: none;
  }
  div {
    width: 53%;
    height: 14%;
  }
  input {
    appearance: none;
    background-color: #fff;
    width: 25px;
    height: 25px;
    border: 0.1rem solid $addTextColor;
    border-radius: 50%;
    margin-right: 21px;
    &:checked {
      background-color: #fcc3b7;
    }
  }
  label {
    @include sectionText();
    vertical-align: top;
  }
}

.quiz_result {
  @include quiz_back();
  @include vert_flex();
  align-items: center;
  h2 {
    @include headersSection();
    margin-bottom: 0;
    margin-top: 43px;
  }
  & > p {
    @include sectionText();
    width: 50%;
    text-align: center;
    margin-top: 0;
  }
  & > div {
    @include horiz_flex();
  }
}

.quiz_card {
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
  img {
    border-radius: 25px 25px 0 0;
  }
  h3 {
    @include headersSection();
    text-transform: none;
    font-size: 32px;
    margin: 15px 0 0;
  }
  p {
    margin: 20px auto;
    width: 70%;
    height: 32px;
    line-height: 28px;
  }
}

//TODO transitions and animations, adaptivity, scripts
