@import url(./font_style.css);
body {
  font-family: "SFProText";
}

a {
  text-decoration: none;
}

.main_frame {
  display: flex;
  flex-direction: column;
  padding-left: 7.5%;
  height: 770px;
  background-image: url("../img/main.png"), linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(236, 245, 245) 50%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.main_frame h2 {
  padding-top: 10%;
  margin: 15px 0;
  font-size: 36px;
  font-weight: bold;
  color: #8b7a7a;
}
.main_frame h2 span {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
}
.main_frame p {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
  margin: 0;
}
.main_frame a {
  margin-top: 37px;
}

.match {
  font-family: "SFProText";
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  transform: scaleX(150%);
  margin: 0;
  color: #ffa397;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 22px;
  gap: 30px;
  align-items: center;
}

.header_nav li {
  display: inline;
  padding: 0 10px;
}
.header_nav a {
  color: #928282;
  font-family: "SFProText";
  font-size: 20px;
}

.buttons {
  width: 230px;
  height: 60px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 178, 161, 0.4470588235);
  font-size: 20px;
  font-weight: bold;
  color: #882914;
  line-height: 60px;
  border-width: 0px;
}

.selling_point {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selling_point div {
  padding: 0px 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.selling_point div h2 {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
}
.selling_point div p {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
  margin-top: 15px;
  width: 100%;
}

.girl_section {
  background-color: #fffafa;
}

.reviews {
  margin-top: 77px;
}
.reviews h2 {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.review_card {
  display: flex;
  flex-direction: row;
  width: 805px;
  margin: 10px;
  border-radius: 25px;
  background-color: rgba(255, 199, 187, 0.0901960784);
}
.review_card img {
  border-radius: 25px 0 0 25px;
}
.review_card div {
  padding: 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review_card div h3 {
  color: #ec9f8f;
  font-weight: 600;
  font-size: 36px;
}
.review_card div p {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
  margin-top: 5px;
  width: 100%;
}

.scroll_box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  overflow-x: scroll;
  margin-left: 57px;
}
.scroll_box::-webkit-scrollbar {
  height: 12px;
}
.scroll_box::-webkit-scrollbar-track {
  background-color: #ffe9e5;
}
.scroll_box::-webkit-scrollbar-thumb {
  background-color: #ec9f8f;
}

.grad_rev {
  position: relative;
}
.grad_rev::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: calc(100% - 12px);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 80%, rgb(255, 255, 255) 100%);
}

.form_first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 609px;
  background-image: url("../img/quiz.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 609px;
  text-align: center;
  margin-top: 77px;
}
.form_first h2 {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
.form_first p {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 609px;
}
.quiz::before {
  content: "";
  width: 100%;
  height: 609px;
  background-image: url("../img/quiz.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  opacity: 0.3;
}
.quiz h2 {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
  margin: 83px 0 43px;
  text-transform: none;
}
.quiz div {
  width: 53%;
  height: 14%;
}
.quiz input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  width: 25px;
  height: 25px;
  border: 0.1rem solid #882914;
  border-radius: 50%;
  margin-right: 21px;
}
.quiz input:checked {
  background-color: #fcc3b7;
}
.quiz label {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
  vertical-align: top;
}

.quiz_result {
  width: 100%;
  height: 609px;
  background-image: url("../img/quiz.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz_result h2 {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 43px;
}
.quiz_result > p {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 24px;
  width: 370px;
  width: 50%;
  text-align: center;
  margin-top: 0;
}
.quiz_result > div {
  display: flex;
  flex-direction: row;
}

.quiz_card {
  border-radius: 25px;
  background-color: #fff;
  text-align: center;
}
.quiz_card img {
  border-radius: 25px 25px 0 0;
}
.quiz_card h3 {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
  font-weight: bold;
  text-transform: none;
  font-size: 32px;
  margin: 15px 0 0;
}
.quiz_card p {
  margin: 20px auto;
  width: 70%;
  height: 32px;
  line-height: 28px;
}