@import url(./font_style.css);

$logo_color: #ffa397;
$nav_color: #928282;
$main_color: #8b7a7a;
$addTextColor: #882914;
$button_color: #ffb2a1;
$main_font: 'SFProText';

@mixin horiz_flex {
  display: flex;
  flex-direction: row;
}
@mixin vert_flex {
  display: flex;
  flex-direction: column;
}

body {
  font-family: $main_font;
}

.main_frame {
  @include vert_flex();
  padding-left: 7.5%;
  height: 770px;
  background-image: url('../img/main.png'),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(236, 245, 245, 100) 50%
    );
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  h2 {
    padding-top: 10%;
    margin: 15px 0;
    font-size: 36px;
    font-weight: bold;
    color: $main_color;
    span {
      font-size: 40px;
      color: #ec9f8f;
      text-transform: uppercase;
    }
  }
  p {
    color: $main_color;
    font-weight: 600;
    font-size: 26px;
    width: 370px;
    margin: 0;
  }
}

.match {
  font-family: $main_font;
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  transform: scaleX(150%);
  margin: 0;
  color: $logo_color;
}

.header {
  @include horiz_flex();
  padding-top: 22px;
  gap: 30px;
  align-items: center;
}

.header_nav {
  li {
    display: inline;
    padding: 0 10px;
  }
  a {
    text-decoration: none;
    color: $nav_color;
    font-family: $main_font;
    font-size: 20px;
  }
}

.main_button {
  width: 230px;
  height: 60px;
  margin-top: 37px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 178, 161, 72%);
  font-size: 20px;
  font-weight: bold;
  color: $addTextColor;
  line-height: 60px;
}
