@import url(./font_style.css);
body {
  font-family: "SFProText";
}

.main_frame {
  display: flex;
  flex-direction: column;
  padding-left: 7.5%;
  height: 770px;
  background-image: url("../img/main.png"), linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(236, 245, 245) 50%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}
.main_frame h2 {
  padding-top: 10%;
  margin: 15px 0;
  font-size: 36px;
  font-weight: bold;
  color: #8b7a7a;
}
.main_frame h2 span {
  font-size: 40px;
  color: #ec9f8f;
  text-transform: uppercase;
}
.main_frame p {
  color: #8b7a7a;
  font-weight: 600;
  font-size: 26px;
  width: 370px;
  margin: 0;
}

.match {
  font-family: "SFProText";
  font-weight: 200;
  font-size: 1.5rem;
  text-transform: uppercase;
  transform: scaleX(150%);
  margin: 0;
  color: #ffa397;
}

.header {
  display: flex;
  flex-direction: row;
  padding-top: 22px;
  gap: 30px;
  align-items: center;
}

.header_nav li {
  display: inline;
  padding: 0 10px;
}
.header_nav a {
  text-decoration: none;
  color: #928282;
  font-family: "SFProText";
  font-size: 20px;
}

.main_button {
  width: 230px;
  height: 60px;
  margin-top: 37px;
  text-align: center;
  border-radius: 25px;
  background-color: rgba(255, 178, 161, 0.72);
  font-size: 20px;
  font-weight: bold;
  color: #882914;
  line-height: 60px;
}